.cont{
  margin: auto;
  /* width: fit-content; */
  position:relative;
}
/* .open  {

  
} */
.welcome_text {
    color: #092c41;
    height: auto;
    padding: 6px 6px 6px 200px;
    line-height: normal;
    font:  "Open Sans", sans-serif;
    opacity: 0.6;
    background: rgb(212, 182, 187);
    width: auto;
}
.header_contact {
    display: flex;
    
}
.welcome_text h6 {
    font-size: 14px;
}

/* header menu */

.menu {
    text-align: center;
    background: #092c41;
    padding: 20px;
}
.menu a {
    color: white;
    padding: 30px;
    font-weight: bolder;
    font-size: 16px;
}

.dropdown {
    position: relative;
    display: inline-block;
  }

  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #337ab7;
    min-width: 260px;
    font-size: 18px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px 16px;
    z-index: 1000;
    line-height: 10px;
    float: left;
    
  }

  .dropdown-content p {
      color: white;
      float:left;
      font-size: 15px;
      line-height: 10px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    padding-top: 10px;
  }


  /*********************** courael ************************8*/

  .message {
      padding: 220px;
  }
  .message h1 {
      color: white;
      text-align: center;
      font-weight: bolder;
      font-size: 34px;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

  .message p {
      color: gainsboro;
      text-align: center;
      padding-bottom: 20px;
      font-size: 17px;
  }

  .message h2 {
    color: wheat;
    text-align: center;
    font-weight: bold;
    width: auto;
  }
  .message h4 {
      padding: 30px 10px 10px 10px;
     text-align: center;
  }
  .message h4 a {
      background: chartreuse;
      padding: 10px 20px 10px 20px;
      color: #092c41;
      text-decoration: none;
      font-size: 12px;
      font-weight: bolder;

  }

  .message h4 a :hover {
      background-color: gainsboro;
      color: gainsboro;
  }
 /* *****************side navigator************* */
 .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 18px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    color: white;
    background: #071013f0;
    transition: margin-left .5s;
    padding-left: 22px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  #carousel-caption h3 {
    color: orange;
    font-weight:bolder;
  }

  /* ****************************************body********************** */

  .index_abt {
    text-align: center;
    padding-bottom: 60px;
   
    
  }

  .index_abt p {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 14px;
    color: #898989;
  
    padding-top: 25px;
    line-height: 26px;
    text-align: center;
    font-weight: 500;
  }

  .index_abt h2 {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 800;
    font-size: 1.625em;
    color: #323232;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    line-height: 32px;
    padding-right: 25px;
    padding-top: 60px;
  }

  .service {
    display: flex;
    padding : 40px;
    width: auto;
    margin-top: 6%;
    margin-left: 12%;
  }
  .service_img h2 {
    font-size: 18px;
    text-align: center;
    font-weight: bolder;
  } 
  .service_img p {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 14px;
    color: #898989;
  
    padding-top: 15px;
    line-height: 26px;
    text-align: center;
    font-weight: 500;
    padding-right: 7% ;
  }
 .container h2 {
  font-size: 22px;
  text-align: center;
  font-weight: bolder;
  padding-right: 13%;
 }
 .container p {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-size: 14px;
  color: #898989;

  padding-top: 15px;
  line-height: 26px;
  text-align: center;
  font-weight: 500;
  padding-right: 7% ;
 }
 .we_are_deatai {
   display:inline-flex;
   padding: 20px 0px 20px 0px;
   margin-bottom: 10px;
  
 }
 .we_are_deatai p {
  font-size: 14px;
  color: #8e8d8d;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  line-height: 29px;
  margin: 0 0 10px;
  padding-left: 14%;
  padding-right: 50px;
}
 .we_are_deatai h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 1.580em;
  color: #fff;
  position: relative;
  padding-top: 47px;
  word-spacing: 6px;
  padding-bottom: 38px;
  padding-left: 14%;
  padding-right: 30px;
 } 
 .we_are_deatai img {
   padding-left: 18%;
   margin: auto;
   padding-top: 10px;
   height: 150px;
   padding-bottom: 40px;
 }
 .bella {
  color: white;
   display: inline-flex;
 }
 .bella h4 {
   padding-left: 20px;
   padding-top: 40px;
   font-size: 15px;
   font-family: cursive;
 }
 .footer {
   background: #0c0219;
   
 }
 .footer h2 {
   color: plum;
   font-size: 20px;
   padding-left: 9%;
   padding-top: 30px;
 }
 .footer p {
  font-size: 14px;
  color: #8e8d8d;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  line-height: 29px;
  margin: 0 0 10px;
  padding-left: 9%;
  padding-right: 50px;
 }
 .footer img {
   padding-left: 13%;
   padding-top: 40px;
 }  

 /* social*********************************************** */

 .fa {
  padding: 15px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #130d1b;
  color: white;
}

.fa-twitter {
  background:#130d1b;
  color: white;
}

.fa-google {
  background: #130d1b;
  color: white;
}

.fa-linkedin {
  background: #130d1b;
  color: white;
}

.fa-youtube {
  background: #130d1b;
  color: white;
}

.copyright {
  padding: 30px;
  background: #010108;
  color: #092c41;
}
/* *********************************************SIDENAV DROPDOWN*********************** */

.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 16px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

/* Main content */
.main {
   /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  
  color: white;
}
.expert h2 {
  padding-left: 3%;
  font-weight: bolder;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 26x;
}
.expert p {
  font-size: 14px;
  color: #8e8d8d;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  line-height: 29px;
  margin: 0 0 10px;
  padding-left: 3%;
  padding-right: 20px;
  padding-top: 15px;
}

.expert h3 {
  font-weight:bold;
  padding-left: 3%;
  padding-top: 8px;
  padding-bottom: 15px;
  font-size: 20px;
}
.expert button {
  padding: 8px 18px 8px 18px;
  font-size: 13px;
  background: red;
  color: white;
  
}